:root {
    --background: #ffffff;
    --link-highlight: #4e7893;
    
    --black: #020202;
    --white: #ececec;
    --green: #2b4429;
    --dark-green: #162c16;
    --yellow: #fce408;
    --gold: #ffd700;
    --blue: #1e41b3;
    --dark-blue: #081f69;
    --red: #a8898971;
    --dark-red: #942620;
    --grey: #70798c;
    --dot: #ffee00;

    --sans-serif: "questa-sans", sans-serif;
    --serif: "orpheuspro", serif;
}